/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */
.top{
    margin-top: 20px;
}

.meny ul{
    margin:0;
    padding:0;
    float:left;
    background-color: #0066ff;
    padding: 10px 10px 10px 10px;
}

.meny ul li{
    padding: 10px 10px 10px 10px;
    background-color: #0066ff;
    text-decoration: none;
    display:inline;
    margin: 10px;
}

.meny ul a:hover{
    color:#000;
    
}

.meny ul li a{
    text-decoration: none;
    color:#fff;
}

#innhold{
    margin-left:10px;
}


.hoved{
    min-height: 300px;
}

.bruker{
    margin-top:20px;
}

.bruker form{
    display:none;
}

.brukere{
    text-transform: capitalize;
}
#brukerliste ul{
    display:none;
    margin:0;
}

#brukerliste ul li{
    margin:0 0 5px 0;
    list-style:none;
}

#brukerliste ul li a{
    margin-left: 15px;
}

#forms, #creds{
    width:300px;
    float:left;
    padding-bottom: 20px;
}

#creds, #mercreds{
    margin-left: 20px;
}

#mercreds{
    width:300px;
    text-align: center;
    float:left;
    padding-bottom: 20px;
}

#footer{
    
}

#innhold li{
    list-style:none;
}

.filelist{
    width:100%;
}


.filelist tbody tr td{
    margin:10px;
    text-align: center;
    border:1px solid black;
}

#innhold .sider{
    margin:10px 30px 0 10px;
}

.elementer{
    border:1px solid black;
    margin-bottom: 10px;
}
.elementer h3{
    text-align:center;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/